NETWORK_NAME=web

TRAEFIK_DASHBOARD_DOMAIN=traefik.microservices.local
PROMETHEUS_DOMAIN=prometheus.microservices.local
GRAFANA_DOMAIN=grafana.microservices.local

RABBITMQ_USER=admin
RABBITMQ_PASS=changeme
